<template>
  <div>
    <div v-if="isLoading" class="preloader">
      <img src="https://pear-advert.ru/images/uploads/blog/273/30.gif" alt="">
    </div>
    <label>
      <input type="text" v-model="newItemName">
    </label>
    <button type="button" @click="addItem">Добавить</button>
    <div class="items">
      <template v-if="items.length">
        <div
          class="item"
          v-for="item in itemsSorted"
          :key="item.id"
        >
          <label>
            <input type="checkbox" :checked="item.checked" @change="toggleItem(item, $event)">
            {{ item.name }}
          </label>
          <button type="button" @click="deleteItem(item)">X</button>
        </div>
      </template>
      <div v-else>Пусто</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      isLoading: false,
      newItemName: '',
      items: [],
    };
  },
  mounted() {
    this.fetchItems();
  },
  computed: {
    itemsSorted() {
      return [...this.items].sort((a, b) => a.checked - b.checked);
    },
  },
  methods: {
    fetchItems() {
      this.isLoading = true;
      fetch('http://localhost:3000/todos')
        .then((r) => r.json())
        .then((r) => { this.items = r; })
        .finally(() => { this.isLoading = false; });
    },
    addItem() {
      this.isLoading = true;
      fetch(
        'http://localhost:3000/todos',
        {
          method: 'POST',
          headers: { 'Content-Type': 'application/json;charset=utf-8' },
          body: JSON.stringify({ name: this.newItemName, checked: false }),
        },
      )
        .then(() => { this.fetchItems(); });
    },
    toggleItem(item, e) {
      this.isLoading = true;
      fetch(
        `http://localhost:3000/todos/${item.id}`,
        {
          method: 'PATCH',
          headers: { 'Content-Type': 'application/json;charset=utf-8' },
          body: JSON.stringify({ checked: e.target.checked }),
        },
      )
        .then(() => { this.fetchItems(); });
    },
    deleteItem(item) {
      this.isLoading = true;
      fetch(
        `http://localhost:3000/todos/${item.id}`,
        {
          method: 'DELETE',
          headers: { 'Content-Type': 'application/json;charset=utf-8' },
        },
      )
        .then(() => { this.fetchItems(); });
    },
  },
};

// GET http://domain/api/todos, http://domain/api/todos/1
// POST http://domain/api/todos
// PUT, PATCH http://domain/api/todos/1
// DELETE http://domain/api/todos/1
</script>

<style>
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
  }

  .preloader img {
    width: 150px;
    height: 150px;
  }
</style>
